* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

